mixin form-chang-multi(path)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start   
            .form-group     
                select(name="type" class="form-control")
                    option(disabled selected) -- chọn hành động -- 
                    option(value="true") Hoat Dong 
                    option(value="false") Dung hoat dong
                    if(role.permissions.includes("product_delete"))
                        option(value="delete") xoa san pham  
                    if(role.permissions.includes("product_edit"))
                        option(value="change-position") thay doi vi tri
            .form-group 
                input(
                type="text"
                name="ids"
                value=""
                class="form-control"
                style="display: none;"
                )

            button(type="submit" class="btn btn-primary") Ap dung


mixin form-chang_category-multi(path)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start   
            .form-group     
                select(name="type" class="form-control")
                    option(disabled selected) -- chọn hành động -- 
                    option(value="true") Hoat Dong 
                    option(value="false") Dung hoat dong
                    if(role.permissions.includes("product-category_delete"))
                        option(value="delete") xoa danh muc  
                    if(role.permissions.includes("product-category_edit"))
                        option(value="change-position") thay doi vi tri
            .form-group 
                input(
                type="text"
                name="ids"
                value=""
                class="form-control"
                style="display: none;"
                )

            button(type="submit" class="btn btn-primary") Ap dung