extends ../../layout/default.pug 

block main 

    if(products[0].title)
        h1.mb-4  #{products[0].title}
    if(products[0].thumbnail)
        div.mb-4 
            img(src=`${products[0].thumbnail}`, alt=`${products[0].title}` class="mb-4")
    if(products[0].parent_id)
        div.mb-4  perent_id:   
            !=  products[0].parent_id
    if(products[0].status)
        div.mb-4 
            if(products[0].status=="true")
                a(href="javascript:;" data-status=products[0].status  data-id=products[0]._id class=`badge badge-success`) Hoat dong
            else 
                a(href="javascript:;" data-status=products[0].status  data-id=products[0]._id class=`badge badge-danger`) Dung Hoat dong
    if(products[0].position)
        div.mb-4 Vi tri : <b>#{products[0].position}</b>
    if(products[0].description)
        div.mb-4  
            != products[0].description
    
    a( href=`${prefixAdmin}/products/repair/${products[0]._id}` class="btn btn-warning btn-sm"  ) chinh Sua