extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main 
    +alert-success(5000)
    .product-detail
        .container.my-5
            
            .row 
                .col-6 
                    .inner-thumb 
                        img(src=`${products[0].thumbnail}`, alt=`${products[0].title}` )
                .col-6
                    h1.inner-title #{products[0].title}
                    br
                    br
                    if(products[0].category)
                        div(class="inner-category")
                            span Danh muc: 
                            a(href=`/products/${products[0].category.slug}`) #{products[0].category.title}
                    if(products[0].newprice)
                        div.inner-price-new Gia moi:  <b>#{products[0].newprice}$</b>
                    if(products[0].price)
                        div.inner-price-old Gia cu:  <b>#{products[0].price}$</b>
                    if(products[0].discountPercentage)
                        div.inner-percent Giam toi: <b>#{products[0].discountPercentage}%</b>
                    if(products[0].stock)
                        div.inner-stock   con lai <span>#{products[0].stock} </span>  San pham
                    form(
                        action =`/cart/add/${products[0]._id}`
                        method="POST"
                    )
                        input(type="number"
                        class="form-control mb-2"
                        name="quantity"
                        value="1"
                        min="1"
                        max=products[0].stock
                        )
                        button(
                            type="submit"
                            class="btn btn-success btn-block"
                        ) Them vao gia hang
        
        .container.my-5
            .row 
                .col-12     
                    +box-head("mo ta san pham")
                    .inner-desc  !{products[0].description}