extends ../../layout/default.pug

block main 
    .container.my-3 
        if(products[0].title)
            h1.mb-4 #{products[0].title}
        if(products[0].price)
            div.mb-4 Gia:  <b>#{products[0].price}$</b>
        if(products[0].discountPercentage)
            div.mb-4 Giam gia: <b>#{products[0].discountPercentage}$</b>
        if(products[0].thumbnail)
            div.mb-4 Con lai : <b>#{products[0].stock}</b>
        if(products[0].thumbnail)
            div.mb-4 
                img(src=`${products[0].thumbnail}`, alt=`${products[0].title}` style="height:300px;width:auto" class="mb-4")
        if(products[0].status)
            div.mb-4 
                if(products[0].status=="true")
                    a(href="javascript:;" data-status=products[0].status button-change-status data-id=products[0]._id class=`badge badge-success`) Hoat dong
                else 
                    a(href="javascript:;" data-status=products[0].status button-change-status data-id=products[0]._id class=`badge badge-danger`) Dung Hoat dong
        if(products[0].position)
            div.mb-4 Vi tri : <b>#{products[0].position}</b>
        if(products[0].description)
            div.mb-4  
                != products[0].description